.header {
    grid-area: h;
    background-color: rgb(0, 75, 156);
}

.span {
    color: rgb(255, 125, 35);
    float: left;
    padding: 20px;
    font-weight: bold;
}

.loginBlock {
    color: white;
    float: right;
    padding: 15px;
}
.loginBlock a {
    color: white;
}
.loginBlock button {
    background-color: rgb(0, 128, 210);
    color: rgb(255, 125, 35);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}