.nav {
    grid-area: n;
    background-color: rgb(0, 128, 210);
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: rgb(255, 125, 35);
    font-weight: bold;
}